.progress-container {
    width: 100%;
    background-color: #5757572a;
    height: 5px;
    display: block;
}

.progress-bar {
    background: linear-gradient(to right, #ff6ec4, #7873f5);
    width: 0%;
    display: block;
    height: inherit;
}
