html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    background: linear-gradient(to left, #1a1a2e, #16213e);
    margin: 0;
    padding: 0;
    height: 200vh;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

.progress-container {
    width: 100%;
    background-color: #5757572a;
    height: 5px;
    display: block;
}

.progress-bar {
    background: linear-gradient(to right, #ff6ec4, #7873f5);
    width: 0%;
    display: block;
    height: inherit;
}
