html {
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

body {
    background: linear-gradient(to left, #1a1a2e, #16213e);
    margin: 0;
    padding: 0;
    height: 200vh;
    cursor: url('https://gauravksingh16.github.io/personal-website/images/crosshair-white.png'), auto;
}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
}

div.clickEffect{
    position:fixed;
    box-sizing:border-box;
    border-style:solid;
    border-color:#FFFFFF;
    border-radius:50%;
    animation:clickEffect 0.4s ease-out;
    z-index:99999;
}

@keyframes clickEffect{
    0%{
        opacity:1;
        width:0.25em; height:0.25em;
        margin:-0.125em;
        border-width:0.25em;
    }

    100%{
        opacity:0.2;
        width:7.5em; height:7.5em;
        margin:-3.75em;
        border-width:0.015em;
    }
}

