@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap");

.threed-intro {
  position: absolute;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}

#threed {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

#radial-bg {
  position: absolute;
  background: radial-gradient(ellipse at top, #1a1a2e00, #1a1a2e 70%);
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.content {
  display: flex;
  height: 95vh;
  position: absolute;
  z-index: 4;
  color: aliceblue;
  align-items: end;
  text-align: center;
  padding: 1rem 3rem;
  bottom: 0;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

#column1 {
  width: 40%;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

#column2 {
  width: 20%;
  overflow-y: scroll;
  text-align: center;
}

#column3 {
  width: 40%;
}

.mouse {
  display: inline-block;
  vertical-align: middle;
  width: 0.75rem;
  height: 1.5rem;
  position: relative;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.mouse:before {
  content: "";
  width: 0.2rem;
  height: 0.4rem;
  border-radius: 25%;
  position: absolute;
  top: 0.27rem;
  left: 0.27rem;
  background-color: white;
  animation: mouse-animation 1.5s ease-in-out infinite;
}

@keyframes mouse-animation {
  0% {
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }
  20%,
  80% {
    transform: scale(1, 1);
  }
  81% {
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 50% 100%;
  }
}

.left,
.right {
  display: inline-block;
  vertical-align: middle;
  padding: 0 1.125rem;
  font-size: 0.8125rem;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.contact-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0.0625rem solid white;
  text-decoration: none;
  border-radius: 1.5625rem;
  background: transparent;
  box-shadow: 0 0.125rem 0.3125rem rgba(255, 110, 193, 0.2);
  backdrop-filter: blur(1.875rem);
  color: rgba(255, 255, 255);
  cursor: pointer;
  font-weight: 700;
  transition: background 0.3s ease;
  text-transform: uppercase;
  overflow: hidden;
}

.contact-button span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #ff6ec4, #7773f566);
  transform: translateY(150%);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
}

.contact-button:hover {
  background: transparent;
  transition: width 2s linear 1s;
  cursor: pointer;
}

.contact-button:hover span {
  opacity: 1;
  transform: translateY(0) scale(2);
}

@media screen and (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    #column1, #column3 {
        order: 1;
        width: 100%;
    }

    #column2 {
        order: 3;
    }
}